In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
df.groupby(["Pclass"])["Survived"].mean()*100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [36]:
most_popular_men = df[df['Sex'] == 'male']['Name'].value_counts().idxmax()
most_popular_women = df[df['Sex'] == 'female']['Name'].value_counts().idxmax()

print(f"Самое популярное мужское имя: {most_popular_men}")
print(f"Самое популярное женское имя: {most_popular_women}")

Самое популярное мужское имя: Braund, Mr. Owen Harris
Самое популярное женское имя: Cumings, Mrs. John Bradley (Florence Briggs Thayer)

In [37]:
name_counts = df.groupby(['Pclass', 'Name', 'Sex']).size().reset_index(name='count')
most_popular_names = name_counts.loc[name_counts.groupby(['Pclass', 'Sex'])['count'].idxmax()]

for index, row in most_popular_names.iterrows():
    class_number = row['Pclass']
    sex = row['Sex']
    name = row['Name']
    print(f"В классе {class_number} самое популярное {'мужское' if sex == 'male' else 'женское'} имя: {name}")

В классе 1 самое популярное женское имя: Allen, Miss. Elisabeth Walton
В классе 1 самое популярное мужское имя: Allison, Master. Hudson Trevor
В классе 2 самое популярное женское имя: Abelson, Mrs. Samuel (Hannah Wizosky)
В классе 2 самое популярное мужское имя: Abelson, Mr. Samuel
В классе 3 самое популярное женское имя: Abbott, Mrs. Stanton (Rosa Hunt)
В классе 3 самое популярное мужское имя: Abbing, Mr. Anthony

In [38]:
filtered_passengers = df[df['Age'] > 44]
print(filtered_passengers.head())

    PassengerId  Survived  Pclass                                      Name  \
6             7         0       1                   McCarthy, Mr. Timothy J
11           12         1       1                  Bonnell, Miss. Elizabeth
15           16         1       2          Hewlett, Mrs. (Mary D Kingcome)
33           34         0       2                     Wheadon, Mr. Edward H
52           53         1       1  Harper, Mrs. Henry Sleeper (Myna Haxtun)

       Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
6     male  54.0      0      0       17463  51.8625   E46        S
11  female  58.0      0      0      113783  26.5500  C103        S
15  female  55.0      0      0      248706  16.0000   NaN        S
33    male  66.0      0      0  C.A. 24579  10.5000   NaN        S
52  female  49.0      1      0    PC 17572  76.7292   D33        C

In [39]:
filtered_passengers = df[(df['Age'] < 44) & (df['Sex'] == 'male')]
print(filtered_passengers.head())

    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
7             8         0       3  Palsson, Master. Gosta Leonard  male   2.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0
13           14         0       3     Andersson, Mr. Anders Johan  male  39.0

    SibSp  Parch     Ticket    Fare Cabin Embarked
0       1      0  A/5 21171   7.250   NaN        S
4       0      0     373450   8.050   NaN        S
7       3      1     349909  21.075   NaN        S
12      0      0  A/5. 2151   8.050   NaN        S
13      1      5     347082  31.275   NaN        S